.header {
  display: flex;
  background-color: white;
  height: 80px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  justify-content: space-between;
  align-items: center;
  color: black;
  .icons {
    display: flex;
    gap: 30px;
  }
}

.menu {
  display: flex;
  justify-content: center;
  padding: 1.25rem 0; // py-5
}

.footer {
  background-color: #008080;
  padding: 1.25rem;
  margin-top: 5rem; // mt-20
  bottom: 0px;
  h1 {
    margin-bottom: 15px;
  }
  .footNav {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0rem; // my-4
  }
}

@media (min-width: 768px) { 
  .header {
    padding: 0 3rem; // px-12
  }
  .footer {
    padding: 2rem 3rem; // py-8 px-12
  }
}

@media (min-width: 1024px) { 
  .header {
    padding: 0 5rem; // px-20
  }
  .footer {
    padding: 3rem 5rem; // py-12 px-20
    margin-top: 8rem; // mt-32
    .footNav {
      margin: 2rem 0; // my-8
    }
  }
}